body 
{
    position: center;
    background-color: slategrey;
}

table
{
    
    width: 70%;
    border-color: white;
    border-width: 1px;
    border-radius: 30px;
}

h1, h2 {
    color:palegoldenrod;
}

a:link, a:visited {
    color:palegoldenrod;
    text-decoration-line: none;
}

a:hover
{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active
{
    color:palegoldenrod;
    background-color: transparent;
    text-decoration: none;

}